*{
    padding: 0;
    margin: 0;  
}
#index{
    font-weight: bold;
    font-family: 'Zen Loop', cursive;
}
#first{
    font-family: 'STIX Two Math', serif;
}
#second{
    font-family: 'Uchen', serif;
}
#third{
    font-family: 'Courier Prime', monospace;
}
body{
    background: lightcyan;
}
.send-button{
    text-align: center;
}
.send-button button{
    border: none;
    background: red;
    color: white;
    font-size: 30px;
    margin-top: 15px;
    padding: 15px;
}
.send-button button:hover{
    background: orange;
}
.send-button button:focus{
    background: green;
}
.gender label{
    font-size: 20px;
}
@media screen and (max-width:799px){
    #title1{
        text-align: center;
    }
    #navbar{
        display: block;
        list-style:none;
        text-align:center;
        background: cyan;
    }
    #navbar li a{
     text-decoration: none;
     color:black;
     font-size: 30px;
    }
    #navbar .service:hover{
        background: darkcyan;
    }
    #navbar .service .service-link:hover,
    #navbar .no-containt a:hover{
        padding: 0;
        display: block;
        background-color: darkcyan;
    }
    #navbar .service .service-containt{
        display:none;
    }
    #navbar .service:hover .service-containt{
        display: block;
        background-color: lightcyan;
        text-decoration: none;
        font-size: 30px;
        color: black;
    }
    #navbar .service .service-containt li:hover{
        text-decoration: none;
        font-size: 30px;
        background-color: darkcyan;
    }
    .text{
        margin-top: 30px;
        padding:15px;
        text-align: center;
        border: 1px solid cyan;
        margin-bottom: 30px;
        border-radius: 15px;
        margin-left: 15px;
        margin-right: 15px;
        background-color: cyan;
    }
    footer li{
        list-style:none;
        text-align: center;
    }
    .main .subtitle1{
        text-align: center;
    }
    label{
        display: block;
        text-align:center;
        font-weight: bold;
        color: blue;
    }
    .double-input div{
        text-align: center;
        font-size: 20px;
    }
    .double-input div input{
        border: 1px solid gray;
        padding-left: 15px;
        padding-right: 15px;
        width: 50%;
        font-size: 20px;
        margin-top: 5px;
        border-radius: 15px;
    }
    .double-input div input:valid{
        border-color: green;    
    }
    .double-input div input:invalid{
        border-color: red;
    }
    .email{
        text-align: center;
        font-size: 20px;
    }
    .email input{
        border: 1px solid gray;
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
        width: 50%;

    }
    .email input:valid{
        border-color: green;
    }
    .email input:invalid{
        border-color: red;
    }
    .gender{
        text-align: center;
    }
    .gender select{
        font-size: 20px;
    }
}
@media screen and (min-width:800px){
    #title1{
        text-align:left;
        padding-left: 15px;
        font-size: 25px;
    }
    #navbar{
        display: flex;
        list-style:none;
        text-align:left;
        background-color:cyan;
        margin-bottom: 15px;
        font-size: 15px;
    }
    #navbar  li  a{
     text-decoration: none;
     padding: 15px;
     color:black;
     font-size: 25px;
    }
    #navbar .service .service-containt{
        display: none;
    }
    #navbar .service:hover .service-containt{   
        display: block;
        list-style: none;
        background: lightcyan;
        padding: 0;
        margin: 0;
        position: absolute;
    }
    #navbar .service:hover .service-containt li 
    {
        list-style: none;
        color:black;
        text-decoration: none;
        padding:0;
        margin: 0;
    }
    #navbar > li {
        margin-left: 15px;
    }
    #navbar > li:hover{
        margin-left: 15px;
        background-color: darkcyan;
    }
    #navbar .service .service-containt li:hover
    {
        background-color: darkcyan;
    }
    .main{
        display: flex;
    }
    .main .text{
        display: block;
        margin-left: 15px;
        padding:15px;
        border: 1px solid white;
        background-color: cyan;
        border-radius: 15px;
        margin-bottom: 30px;
        margin-right: 15px;
        font-size: 20px;
    }
    footer li{
        margin-left:15px;
        text-align:left;
        list-style:none;
        font-size: 15px;
    }
    .subtitle1{
        margin-left: 30px;
    }
    label{
        display: flex;
        float: left;
        font-weight: bold;
        color: blue;
        margin-left: 15px;
    }
    .double-input{
        display: flex;
        font-size: 20px;
    }
    .double-input div{
        margin-left: 15px;
        margin-right: 15px;
    }
    .double-input div input{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
        margin-left: 15px;
        border-radius: 15px;
    }
    .double-input div input:valid{
        border-color: green;
    }
    .double-input div input:invalid{
        border-color: red;
    }
    .email{
        margin-top: 15px;
        margin-left: 15px;
        font-size: 20px;
    }
    .email label{
        margin-left: 35px;
    }
    .email input{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
        margin-left: 15px;
        border-radius: 15px;
    }
    .email input:valid{
        border-color: green;
    }
    .email input:invalid{
        border-color: red;
    }
    .gender{
        display: flex;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .gender select{
        margin-left: 15px;
    }
}   
