*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: wheat;
}
@media screen and (max-width:799px){
    #index{
        text-align: center;
        background-color: red;
    }
    #ein{
        text-align:center;
        background-color: green;
    }
    #zwei{
        text-align:center;
        background-color: blue;
    }
    #drei{
        text-align:center;
        background-color: skyblue;
    }
    #navbar{
        display: block;
        list-style:none;
        text-align:center;
        background: cyan;
    }
    #navbar li a{
     text-decoration: none;
     color:black;
     font-size: 30px;
    }
    #navbar .service:hover{
        background: white;
    }
    #navbar .service .service-link:hover,
    #navbar .no-containt a:hover{
        padding: 0;
        display: block;
        background-color: white;
    }
    #navbar .service .service-containt{
        display:none;
    }
    #navbar .service:hover .service-containt{
        display: block;
        background-color: lightgray;
        text-decoration: none;
        font-size: 30px;
        color: black;
    }
    #navbar .service .service-containt li:hover{
        text-decoration: none;
        font-size: 30px;
        background-color: gray;
    }
    .text{
        margin-top: 30px;
        padding:15px;
        border: 1px solid cyan;
        margin-bottom: 30px;
        border-radius: 15px;
        margin-left: 15px;
        margin-right: 15px;
        background-color: cyan;
    }
    footer li{
        list-style:none;
        text-align: center;
    }
    .main .title{
        text-align: center;
    }
    label{
        display: block;
        text-align:center;
        font-weight: bold;
        color: blue;
    }
    .double-input div{
        text-align: center;
    }
    .double-input div input{
        border: 1px solid gray;
        border-radius: 15px;
    }
    .double-input div input:valid{
        border-color: green;
    }
    .double-input div input:invalid{
        border-color: red;
    }
}
@media screen and (min-width:800px){
    #index{
        background-color: red;
    }
    #ein{
        background-color:green;
    }
    #zwei{
        background-color: blue;
    }
    #drei{
        background-color:skyblue;
    }
    #index, #ein, #zwei, #drei{
        text-align:left;
        padding-left: 15px;
        font-size: 65px;
    }
    #navbar{
        display: flex;
        list-style:none;
        text-align:left;
        background-color:cyan;
        margin-bottom: 15px;
        font-size: 60px;
    }
    #navbar li a{
     text-decoration: none;
     padding: 15px;
     color:black;
     font-size: 30px;
    }
    #navbar .service .service-containt{
        display: none;
    }
    #navbar .service:hover .service-containt{   
        display: block;
        list-style: none;
        background: lightgray;
        font-size: 30px;
        position: absolute;
    }
    #navbar .service:hover .service-containt li{
        display: block;
        list-style: none;
        font-size: 30px;
        padding: 15px;
        color:black;
        text-decoration: none;
    }
    #navbar .no-containt:first-child:hover{
        margin-left: 25px;
    }
    #navbar li:hover{
        background-color: white;
        padding:0;
    }
    #navbar .service .service-containt li:hover
    {
        background-color: gray;   
    }
    .main{
        display: flex;
    }
    .main .text{
        display: block;
        margin-left: 15px;
        padding:15px;
        border: 1px solid white;
        background-color: cyan;
        border-radius: 15px;
        margin-bottom: 30px;
        margin-right: 15px;
        font-size: 15px;
    }
    footer li{
        margin-left:15px;
        text-align:left;
        list-style:none;
        font-size: 15px;
    }
    .title{
        margin-left: 15px;
    }
    label{
        display: flex;
        float: left;
        font-weight: bold;
        color: blue;
        margin-left: 15px;
    }
    .double-input{
        display: flex;
    }
    .double-input div{
        text-align: left;
        margin-left: 15px;
        margin-right: 15px;
    }
    .double-input div input{
        font-size: 20px;
        margin-left: 15px;
        border: 1px solid gray;
        border-radius: 15px;
    }
    .double-input div input:valid{
        border-color: green;
        background: lightgreen;
    }
    .double-input div input:invalid{
        border-color: red;
        background: lightcoral;
    }
}